doctrine:
    dbal:
        # Configuración para Oracle Database 21c XE con OCI8 nativo
        driver: 'oci8'
        host: '%env(DATABASE_HOST)%'
        port: '%env(DATABASE_PORT)%'
        dbname: '%env(DATABASE_NAME)%'
        user: '%env(DATABASE_USER)%'
        password: '%env(DATABASE_PASSWORD)%'
        charset: AL32UTF8
        profiling_collect_backtrace: "%kernel.debug%"
        use_savepoints: true
        server_version: '21c'
        options:
            # Opciones específicas de Oracle OCI8
            1000: false  # OCI_NO_AUTO_COMMIT - desactiva autocommit
            104: 60      # OCI_ATTR_ACTION - timeout de sesión
    orm:
        auto_generate_proxy_classes: false
        enable_lazy_ghost_objects: false
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: "%kernel.project_dir%/src/Entity"
                prefix: "App\\Entity"
                alias: App

when@test:
    doctrine:
        dbal:
            dbname_suffix: "_test%env(default::TEST_TOKEN)%"

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: "%kernel.build_dir%/doctrine/orm/Proxies"
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
